@import './style/abstracts/variables.scss';
@import './style/base/reset.scss';
@import './style/pages/404.scss';
@import './src/App.scss';
@import './style/pages/Home.scss';
@import './style/pages/ProductDetail.scss';
@import './style/components/InfoAbout.scss';
@import './style/pages/About.scss';

body {
  margin: 0;
  width: 100%;
  font-family: $Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
